version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    environment:
      JAVA_TOOL_OPTIONS: "-Xms512m -Xmx1024m"
    steps:
      - checkout
      - run:
          name: Clean build
          command: ./gradlew clean
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies 
      - run:
          name: Run Tests
          command: ./gradlew testDebugUnitTest