<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tsdproject.pokerplanning">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".base.ApplicationContext"
      android:allowBackup="true"
      android:icon="@drawable/logo"
      android:label="@string/app_name"
      android:roundIcon="@drawable/logo"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".splash.SplashActivity" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".participants.ParticipantsActivity"
              android:screenOrientation="portrait"/>
    <activity android:name=".access.AccessActivity"
              android:screenOrientation="portrait"/>
    <activity android:name=".manageroom.ManageRoomsActivity"
              android:screenOrientation="portrait"/>
    <activity android:name=".cards.CardsActivity"
              android:screenOrientation="portrait"/>
    <activity android:name=".registration.RegistrationActivity"
              android:screenOrientation="portrait"/>
    <activity android:name=".results.ResultsActivity"
              android:screenOrientation="portrait"/>
  </application>

</manifest>